[user]
	email = j@wezel.name
	name = Johnny Wezel
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[pull]
	rebase = true
